/********** GENERAL **********/

.Accueil {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	padding: 24px;
}

.Accueil div {
	width: 50%;
}

.Accueil h1 {
	text-align: center;
	margin-bottom: 30px;
}

.Accueil a{
	background-color: black;
	padding: 20px 25px;
	font-family: 'Montserrat';
	font-weight: 900;
	color: white;
	font-size: 1em;
	text-decoration: none;
	width: 30%;
	margin: 30px auto 0 auto;
	text-align: center;
}

.imgContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.imgContainer img {
  height: auto;
  width: auto;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.imgContainer p {
	font-style: oblique;
	font-weight: lighter;
	text-align: center;
}

.editoContainer{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0 25px;
}

#hodor{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

@media screen and (max-width: 1000px){

	.Accueil {
		display: block;
		overflow-y: scroll;
		margin: 0;
	}

	.imgContainer img {
		margin: 0;
	}

	.Accueil .imgContainer, .Accueil .editoContainer {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.Accueil .editoContainer {
		padding-top: 25px;
	}

	.editoContainer a{
		margin: 70px auto 25px auto;
		width: 75%;
	}

	.Accueil .scrollContent{
		/*display: flex;*/
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		overflow: initial;
	}

}