.Menu ul {
  text-align: right;
}

.Menu ul li {
	list-style: none;
	padding: 10px;
}

.Menu ul li a {
	font-family: 'Open Sans';
	font-weight: light;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.Menu ul li a:hover {
	text-decoration: underline;
}

@media screen and (max-device-width: 800px){

  .containerNav .Menu {
    padding: 75px 0 75px 0;
  }

}