.Menu {
	background-color: #1C1C1C;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	margin: 50px;
	display: -webkit-box;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}

.Menu ul {
  text-align: center;
  margin: auto 0;
  width: 100%;
}

.Menu ul li {
	list-style: none;
	padding: 15px;
}

.Menu ul li a {
	font-family: 'Montserrat';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1.5em;
}

.Menu ul li a:hover {
	padding-bottom: 10px;
	border-bottom: white 1px solid;
}

.Menu.scrollContentMenu {
	overflow-y: auto;
}

.Menu.scrollContentMenu .list {
	width: 100%;
	padding: 0;
}

.Menu.scrollContentMenu .explanations, .Menu.scrollContentMenu .copyright {
	text-orientation: sideways;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #1C1C1C;
  padding: 5px;
  font-family: "Open Sans";
  text-align: center;
  width: 10px;
}

.Menu.scrollContentMenu .explanations {
	color: #FFF;
}

@media screen and (max-width: 1000px){

  .Menu ul li a {
		font-size: 1.3em;
	}

}

@media screen and (max-width: 320px){

	.Menu ul li a {
		font-size: 1.1em;
	}

}