.App {
  height: 100%;
  margin: 0;
  background-color: white;
}

.titleMagazine{
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
}

.containerNav{
  border: solid 1px black;
  height: 100%;
}