.App {
  height: 100% !important;
  margin: 0;
  background-color: white;
}

.titleMagazine{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: white;
}

.containerNav{
  border: solid 1px black;
  padding: 0;
  margin: 2em;
  height: 100%;
}