/*-----------------
------- FONTS -----
-----------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*----------------
-----STRUCT-------
----------------*/

* {
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-content;
	height: 100vh;
}

body {
	height: 100%;
	font-family: 'Open+Sans';
	font-size: 18px;
	overflow: hidden;
}

#root {
	height: 100%;
	margin: 0;
}

h1{
	font-family: 'Montserrat';
	font-size: 2em;
}





